/* canvas that enables gooey cursor --------------------------------- */
#canvas {
    weight: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
    z-index: -1;
}

/* html --------------------------------- */

html{
    background-color:white;
    font-family: neue-haas-unica, sans-serif; 
    box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body{
    margin: 0;
    cursor: default;
}

h1 {
    font-size: 2.6em;
    font-weight: normal;
    font-family: 'Inconsolata', monospace;
}

h2 {
    font-size: 1.3em;
    font-weight: normal;
    font-family: 'Inconsolata', monospace;
}

h4 {
    font-size: 1.1em;
    font-weight: normal;
    font-family: 'Inconsolata', monospace;
}

.inverse {
    color:rgb(219,255,51);
}

p {
    font-size: 1.1em;
}

.p-small {
    font-size: 15px;
}

.p-big {
    font-size: 3em;
}

small {
    font-size: 15px;
}

code {
    font-family: 'Inconsolata', monospace;
}

a{
    border-bottom: 1px dashed;
    text-decoration: none;
    color: dimgray;
}

a:hover {
    color: black;
}

#ul-body {
    padding-left: 15px;
    font-size: 1.1em;
}

#ul-body li {
    padding-bottom: 8px;
}

.hr-full {
    border: 1px dashed black;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 0;
}

mark {
    background: rgb(219,255,51);
    font-family: 'Inconsolata', monospace;
}

blockquote {
    font-size: 1.3em;
}

/* images --------------------------------- */

img {
    cursor: default;
}

.diagram-div {
    position: relative;
}

.diagram {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.project-img {
    width: 100%;
    padding-bottom: 10px;
}

iframe {
	aspect-ratio: 16 / 9;
	height: 100%;
	width: 100%;
}

/* img captions --------------------------------- */

.hoverwrap {
    position: relative;
    margin: 0;
  }
  
.hoverwrap img { width: 100%; }

.hovercap {
box-sizing: border-box;
width: 100%;
padding: 5px;
margin-bottom: 10px;
position: absolute;
bottom: 0; left: 0;
background-color: rgba(0, 0, 0, 0.5);
color: white;
font-family: 'Inconsolata', monospace;
font-size: 1em;
}

.hovercap {
visibility: none; opacity: 0;
transition: opacity 0.3s;
}

.hoverwrap:hover .hovercap {
visibility: visible; opacity: 1;
}

/* hero section --------------------------------- */

.section-hero {
    padding: 0;
    overflow: hidden;
    position:relative;
}

.div-hero-img {
    margin: 0;
    max-height: 750px;
}

/* typewriter effect ------------ */

@keyframes grow {
    0% { max-height: var(--lineHeight); }
    100% { max-height: calc(var(--lineHeight) * var(--lines)); }
  }
  
  @keyframes carriageReturn {
    0% { top: 0; }
    100% { top: calc(var(--lineHeight) * var(--lines)); }
  }
  
  @keyframes type {
    0% { width: 100%; }
    100% { width: 0%; }
  }
  
  @keyframes caret {
    0% { color: var(--bgColor); }
    100% { color: black; }
  }
  
  .typewriter {
    left: 5%;
    --bgColor: rgb(219,255,51);
    --lines: 500;
    --lineHeight: 1.5rem;
    --timePerLine: 4s;
    --widthCh: 22;
    --width: calc(var(--widthCh) * 1ch);
    /* do not touch the time property!!! */
    --time: calc(var(--lines) * var(--timePerLine));
    animation: grow var(--time) steps(var(--lines));
    animation-fill-mode: forwards;
    background: var(--bgColor);  
    line-height: var(--lineHeight);
    max-height: var(--lineHeight);
    overflow: hidden;
    position: relative;
    width: var(--width);
    /* word-break: break-all; */
    font-size: 1.2em;
  }
  
  .typewriter::before {
    content: "";
    animation: 
      type var(--timePerLine) linear infinite, 
      carriageReturn var(--time) steps(var(--lines)) var(--lines),
      caret 0.5s steps(2) infinite;
    background: var(--bgColor);
    border-left: 2px solid;
    bottom: 0;
    height: 2rem;
    position: absolute;
    right: 0;
    width: 100%;
  }
  
  .typewriter.no-caret::before {
    border-left-width: 0;
  }
  
  .typewriter.big-caret::before {
    border-left-width: 1ch;
  }
  
  .typewriter.monospace {
    font-family: 'Inconsolata', monospace;
  }
  
  .typewriter.monospace::before {
    animation: 
      type var(--timePerLine) steps(var(--widthCh)) infinite, 
      carriageReturn var(--time) steps(var(--lines)) var(--lines),
      caret 0.5s steps(2) infinite;
  }
  
  /* DEMO */
  section {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 1rem;
    position: absolute;
    top: 0rem;
    width: 100%;
    /* border: dashed 2px red; */
  }
  
  section:nth-child(2) { top: 5rem; }
  section:nth-child(3) { top: 0; }
  
  .lorem {
    --widthCh: 70;
    --timePerLine: 6s;
  }
  
/* end typewriter effect ------------ */

.hero-text {
    background-color: rgb(219,255,51);
    color: black; 
    font-size: 1.5em;
    font-family: 'Inconsolata', monospace;
}

/* spacer --------------------------------- */

.spacer {
    padding: 10px;
}

/* document --------------------------------- */

.document {
    padding-left: 10%;
    padding-right: 10%;
    position: static;
    display: block;
}

.twoCol-container {
    display: flex;
}

.col-1-25 {
    padding: 10px;
    width: 25%;
}

.col-2-75 {
    padding: 10px;
    width: 75%;
}

.our-process{
   padding-left: 10%;
   padding-right: 10%;
   padding-top: 2%;
   padding-bottom: 2%;
   background-color:rgb(219,255,51);
   cursor: default;
}

.gallery-container {
    display: flex;
}

    .col-1-50 {
        width: 50%;
        top: 0;
        padding-right: 5px;
    }

    .col-2-50 {
        width: 50%;
        top: 0;
        padding-left: 5px;
    }


/* footer --------------------------------- */

#air-collab-footer{
    display: block;
    padding: 10px;
    margin-top: 40px;
    bottom: 0px;
    color:rgb(219,255,51);
    background-color: black;
    cursor: default;
}

.footer-link {
    color:rgb(219,255,51);
}

.footer-link:hover {
    color:rgb(219,255,51);
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
  
  #overlay-text {
      width: 400px;
      height: 150px;
      margin: auto;
      margin-top: 20%;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.85);
      color: black;
  }


/* top bar-------------------------------------- */

.wrapper {
    background:rgb(219,255,51);
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    cursor: default;
}

#logo-container {
    padding: 10px;
    text-align: center;
    }

    .logo-img {
        width: 140px;
    }

.navMenu {
    display: flex;
    align-items:center;
    justify-content: right;
    width: 100%;
    font-family: 'Inconsolata', monospace;
    font-size: 1.3em;
    }

    .navMenu ul{
        margin: 0px;
        padding:0;
        font-size: 1em;
    }

    .navMenu li{
        margin: 0px;
        padding:0px;
        list-style:none;
    }

    /* box around nav links */
    .navMenu li a{
        display: block;
        margin: 0px;
        padding: 20px;
        border-bottom: none;
    }

    .navMenu li a:hover {
    outline-style: dashed;
    outline-width: 1px;
    background-color: rgb(219,255,51);
    }

    .navMenu ul li {
        padding: 0px;
        margin: 0px;
    }

    .navMenu ul li a {
        color:black;
        text-align:left;
        text-decoration: none;
        text-transform: uppercase;
    }

    .navMenu ul li ul {
        background:white;
        position:absolute;
        visibility:hidden;
        width: fit-content;
        z-index: 100;
        outline-style: dashed;
        outline-width: 1px;
    }

    .navMenu ul li ul a {
        display: flex;
        padding-top:10px;
        padding-bottom:10px;
        padding-right:20px;
        padding-left:20px;
        margin: 0;
        font-size: .9em;
    }

    .navMenu ul li:hover ul {
        visibility: visible;
    }

    .navMenu ul li:hover ul a:hover {
    outline-style: dashed;
    outline-width: 1px;
    background-color: rgb(219,255,51);
    }

/* highlight color --------------------------------- */

::selection { /* WebKit/Blink Browsers */
    color: black;
    background: rgb(219,255,51); 
  }
  ::-moz-selection { /* Gecko Browsers */
    color: black;
    background: rgb(219,255,51);
  }


/* responsive --------------------------------- */
/* (min-width: 400px) and */
@media screen and (max-width: 1024px) {
    body {
        cursor: default;
    }

    h1 {
        font-size: 2em;
    }

    .p-big {
        margin: 0;
    }

    blockquote {
        font-size: 1.1em;
    }

    .wrapper {
        display: block;
        margin: auto;
    }

    #logo-container {
        margin: auto;
    }

    .navMenu{
        margin: auto;
        padding-bottom: 5px;
        width: 100%;
        justify-content: center;
    }

    .navMenu li a{
        display: block;
        margin: 0px;
        padding: 10px;
        border-bottom: none;
    }

    .navMenu ul li ul {
        background:white;
        position:absolute;
        visibility:hidden;
        width: 200px;
        z-index: 100;
        outline-style: dashed;
        outline-width: 1px;
    }
    
    .div-hero-img {
        margin: 0;
        max-height: 500px;
    }

    .typewriter {left: 0;}

    section:nth-child(2) { top: 2rem; }

    /* -----------! DIFFERENCE !-----------! */
    .document {
        padding-left: 5%;
        padding-right: 5%;
        position: static;
        display: block;
    }
    /* -----------! DIFFERENCE !-----------! */

    .twoCol-container {
        display: block;
        
    }

        .col-1-25 {
            margin: auto;
            padding: 0px;
            width: 100%;
        }
        
        .col-2-75 {
            margin: auto;
            padding: 0px;
            width: 100%;
        }

    .gallery-container {
        display: block;
    }

        .col-1-50 {
            width: 100%;
        }

        .col-2-50 {
            width: 100%;
        }

    .our-process{
        padding-left: 0%;
        padding-right: 0%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color:rgb(219,255,51);
        cursor: default;
     }

    .diagram {
        position: relative;
        top: 0%;
        transform: translateY(0%);
    }

    #canvas {
        display: none;
    }

}
/* mobile responsive --------------------------------- */


/* button to top ---------------------- */
#myBtn {
    display: none; /* Hidden by default */
      position: fixed; /* Fixed/sticky position */
      bottom: 20px; /* Place the button at the bottom of the page */
      right: 30px; /* Place the button 30px from the right */
      z-index: 99; /* Make sure it does not overlap */
      border: none; /* Remove borders */
      outline: none; /* Remove outline */
      background-color: black; /* Set a background color */
      box-shadow: 0px 0px 20px 8px rgb(219,255,51);
      color: rgb(219,255,51); /* Text color */
      cursor: pointer; /* Add a mouse pointer on hover */
      padding: 10px; /* Some padding */
      border-radius: 0px; /* Rounded corners */
      font-size: 1.25em; /* Increase font size */
      font-family: monospace;
    }
    
    #myBtn:hover {
    background-color: black; /* Add a dark-grey background on hover */
    }