/* canvas that enables gooey cursor --------------------------------- */
#canvas {
    weight: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
    z-index: -1;
}

/* html --------------------------------- */

html{
    background-color:white;
    font-family: neue-haas-unica, sans-serif; 
    box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body{
    margin: 0;
    cursor: none;
}

h1 {
    font-size: 3em;
    font-weight: normal;
    font-family: monospace;
}

h2 {
    font-size: 1.5em;
    font-weight: normal;
    font-family: monospace;
}

p {
    font-size: 1.1em;
    line-height: 1.2;
}

.p-small {
    font-size: 15px;
}

.p-big {
    font-size: 3em;
    text-indent: -0.5em;
}

small {
    font-size: 13px;
}

a{
    border-bottom: 1px dashed;
    text-decoration: none;
    cursor: default;
}

a:hover {
    color: black;
}


#ul-body {
    padding-left: 15px;
    font-size: 1.1em;
}

#ul-body li {
    padding-bottom: 8px;
}

hr {
    border: 1px dashed rgb(219,255,51);
    margin-top: 20px;
}

.hr-full {
    border: 1px dashed black;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 0;
}

mark {
    background: rgb(219,255,51);
    font-family: monospace;
}

/* images --------------------------------- */

img {
    cursor: default;
}

.diagram-div {
    position: relative;
}

.diagram {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* hero section --------------------------------- */

.section-hero {
    /* margin: 0; */
    /* margin-left: 10%;
    margin-right: 20%; */
    padding: 0;
    overflow: hidden;
    position:relative;
}

.div-hero-img {
    margin: 0;
    max-height: 750px;
    /* margin-right: 10%; */
}

/* typewriter effect ------------ */

@keyframes grow {
    0% { max-height: var(--lineHeight); }
    100% { max-height: calc(var(--lineHeight) * var(--lines)); }
  }
  
  @keyframes carriageReturn {
    0% { top: 0; }
    100% { top: calc(var(--lineHeight) * var(--lines)); }
  }
  
  @keyframes type {
    0% { width: 100%; }
    100% { width: 0%; }
  }
  
  @keyframes caret {
    0% { color: var(--bgColor); }
    100% { color: black; }
  }
  
  .typewriter {
    left: 5%;
    --bgColor: rgb(219,255,51);
    --lines: 500;
    --lineHeight: 1.5rem;
    --timePerLine: 4s;
    --widthCh: 22;
    --width: calc(var(--widthCh) * 1ch);
    /* do not touch the time property!!! */
    --time: calc(var(--lines) * var(--timePerLine));
    animation: grow var(--time) steps(var(--lines));
    animation-fill-mode: forwards;
    background: var(--bgColor);  
    line-height: var(--lineHeight);
    max-height: var(--lineHeight);
    overflow: hidden;
    position: relative;
    width: var(--width);
    /* word-break: break-all; */
  }
  
  .typewriter::before {
    content: "";
    animation: 
      type var(--timePerLine) linear infinite, 
      carriageReturn var(--time) steps(var(--lines)) var(--lines),
      caret 0.5s steps(2) infinite;
    background: var(--bgColor);
    border-left: 2px solid;
    bottom: 0;
    height: 2rem;
    position: absolute;
    right: 0;
    width: 100%;
  }
  
  .typewriter.no-caret::before {
    border-left-width: 0;
  }
  
  .typewriter.big-caret::before {
    border-left-width: 1ch;
  }
  
  .typewriter.monospace {
    font-family: monospace, monospace;
  }
  
  .typewriter.monospace::before {
    animation: 
      type var(--timePerLine) steps(var(--widthCh)) infinite, 
      carriageReturn var(--time) steps(var(--lines)) var(--lines),
      caret 0.5s steps(2) infinite;
  }
  
  /* DEMO */
  section {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 1rem;
    position: absolute;
    top: 1rem;
    width: 100%;
    /* border: dashed 2px red; */
  }
  
  section:nth-child(2) { top: 5rem; }
  section:nth-child(3) { top: 0; }
  
  .lorem {
    --widthCh: 70;
    --timePerLine: 6s;
  }
  
/* end typewriter effect ------------ */

.hero-text {
    background-color: rgb(219,255,51);
    color: black; 
    font-size: 1.5em;
    font-family: monospace;
}

/* spacer --------------------------------- */

.spacer {
    padding: 10px;
}

/* document --------------------------------- */

.document {
    padding-left: 10%;
    padding-right: 20%;
    position: static;
    display: block;
}

.twoCol-container {
    display: flex;
}

.col-1-25 {
    padding: 10px;
    width: 25%;
}

.col-2-75 {
    padding: 10px;
    width: 75%;
}

#container-photo-people-need-space-photo{
    width: 50%;
}

.our-process{
   /* margin-top:100px;
   margin-left:50px;
   padding-bottom:20px;
   padding-left:20px;
   padding-right:30px;
   font-size:25px; */
   padding-left: 10%;
   padding-right: 10%;
   padding-top: 2%;
   padding-bottom: 2%;
   background-color:rgb(219,255,51);
   cursor: default;
}

.announcements{
    padding: 10px;
    /* margin-left:40px; */
    /* border-bottom: dashed black 2px; */
}


/* footer --------------------------------- */

#air-collab-footer{
    display: block;
    padding: 10px;
    margin-top: 40px;
    bottom: 0px;
    color:rgb(219,255,51);
    background-color: black;
    cursor: default;
}

/* top bar-------------------------------------- */

#wrapper {
    background:rgba(255, 255, 255, 0);
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    /* cursor: default; */
}

#logo-container {
    padding: 10px;
    width: 20%;
    }

    .logo-img {
        width: 140px;
    }

#navMenu {
    display: flex;
    align-items:center;
    justify-content: right;
    width: 80%;
    font-family: monospace;
    font-size: 1.3em;
    }

    #navMenu ul{
        margin:0;
        padding:0;
    }

    #navMenu li{
        margin:0;
        padding:0px;
        list-style:none;
    }

    #navMenu li a{
        display: block;
        margin:0;
        padding-top:10px;
        padding-bottom:10px;
        padding-right:20px;
        padding-left:20px;
        border-bottom: none;
    }

    #navMenu li a:hover {
    outline-style: dashed;
    outline-width: 1px;
    background-color: rgb(219,255,51);
    }

    #navMenu ul li {
        padding: 0px;
        margin: 0px;
    }

    #navMenu ul li a {
        color:black;
        text-align:left;
        text-decoration: none;
        text-transform: uppercase;
    }

    #navMenu ul li ul {
        background:white;
        position:absolute;
        visibility:hidden;
        width: 200px;
        /* top:46px; */
        z-index: 100;
    }

    #navMenu ul li ul a {
        display: flex;
        padding-top:10px;
        padding-bottom:10px;
        padding-right:20px;
        padding-left:20px;
        margin: 0;
    }

    #navMenu ul li:hover ul {
        visibility: visible;
    }

    #navMenu ul li:hover ul a:hover {
    outline-style: dashed;
    outline-width: 1px;
    background-color: rgb(219,255,51);
    }

/* highlight color --------------------------------- */

::selection { /* WebKit/Blink Browsers */
    color: black;
    background: rgb(219,255,51); 
  }
  ::-moz-selection { /* Gecko Browsers */
    color: black;
    background: rgb(219,255,51);
  }


/* canvas that enables gooey cursor --------------------------------- */

