html{
    background-color:white;
    font-family: neue-haas-unica, sans-serif; 
    box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}
.top-photo{
    position:relative;
    text-align:center;
    padding-bottom:40px;
    padding-left:-40px;

}
.about-blurb{
    color:black;
    font-size:25px;
    background-color:rgb(219,255,51);
   position:absolute;
   bottom: -70px;
   right:16px;
 
}
#container-photo-people-need-space-photo{
    top:20px;
   
    
}
#people-need-space-blurb-one{
position:absolute;
font-size:35px;
    top:1200px;
    left:900px;
}
#people-need-space-blurb-two{
    position: absolute;
    top:1300px;
    left:920px;

}
.our-process{
    display:block;
   margin-top:100px;
   margin-left:50px;
   padding-bottom:20px;
   padding-left:20px;
   padding-right:30px;
   font-size:25px;
   background-color:rgb(219,255,51);

}
.process-blurb-text{
    padding-top:20px;
    padding-left:20px;
    padding-right:30px;
    background-color:rgb(219,255,51);
    margin-left:50px;
}
#diagram{
margin-top:20px;
margin-left:200px;
margin-bottom:100px;
background-color:rgb(219,255,51);
}
.learn-more{
   text-decoration: none;
    font-size:15px;
    color:black;
    font-family: neue-haas-unica, sans-serif; 
    border-bottom: dashed black 2px;
    
}
a{
    text-decoration: none;
}

.announcements{
    color:black;
    font-size:35px;
    margin-left:40px;
   border-bottom: dashed black 2px;

}
.kristin-photo{
padding-top:35px;
margin-left:60px;
}
#welcome-header{
margin-bottom:40px;
margin-right:700px;
margin-top:-240px;
float:right;
font-size:25px;

}
#welcome-blurb{
margin-bottom:40px;
margin-right:350px;
margin-top:-170px;
float:right;


}

#canvas {
    weight: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
    z-index: -1;
}



.inverse {
    color:rgb(219,255,51);
}

p {
    font-size: 1.3em;
}

.p-small {
    font-size: 12px;
}

small {
    font-size: 12px;
}

#ul-body {
    padding-left: 15px;
    font-size: 1.3em;
}


/* document --------------------------------- */





/* footer --------------------------------- */

#air-collab-footer{
    margin-top:200px;
    display: block;
    padding:10px 10px 10px 10px;
    color:rgb(219,255,51);
    background-color:black;
}

/* top bar-------------------------------------- */

#wrapper {
    background:rgb(219,255,51);
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    cursor: default;
}

#logo-container {
    padding: 10px;
    width: 20%;
    }

#navMenu {
    display: flex;
    align-items:center;
    justify-content: right;
    width: 80%;
    }

    #navMenu ul{
        margin:0;
        padding:0;
    }

    #navMenu li{
        margin:0;
        padding:0px;
        list-style:none;
    }

    #navMenu li a{
        display: block;
        margin:0;
        padding:10px;
    }

    #navMenu ul li {
        padding: 0px;
        margin: 0px;
    }

    #navMenu ul li a {
        color:black;
        text-align:left;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500; 
    }

    #navMenu ul li ul {
        background:rgb(219,255,51);
        position:absolute;
        visibility:hidden;
        width: 200px;
        /* top:46px; */
    }

    #navMenu ul li ul a {
        /* border: solid green; */
        display: flex;
        padding: 10px;
        margin: 0;
    }

    #navMenu ul li:hover ul {
        visibility: visible;
    }

    #navMenu ul li:hover ul a:hover {
    outline-style: dashed;
    outline-width: 2px;
    }

/* highlight color --------------------------------- */

